﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="mymenu.ascx.cs" Inherits="WebApplicationFinalProject.usercontrols.mymenu" %>
<asp:SqlDataSource 
        runat="server"
        id="pages_select"
        ConnectionString="<%$ ConnectionStrings:ridham_database %>">
    </asp:SqlDataSource>
<ul id ="menu_bar" runat="server"></ul>